<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="12401071"
    android:versionName="12.4.1.7.1"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="com.android.packageinstaller"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="29"/>
    <original-package
        android:name="com.android.packageinstaller"/>
    <uses-permission
        android:name="android.permission.MANAGE_USERS"/>
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission
        android:name="android.permission.READ_INSTALL_SESSIONS"/>
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission
        android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS"/>
    <uses-permission
        android:name="android.permission.USE_RESERVED_DISK"/>
    <uses-permission
        android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission
        android:name="android.permission.MANAGE_APP_OPS_MODES"/>
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission
        android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission
        android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission
        android:name="com.vivo.abe.permission.unifiedconfig.provider"/>
    <uses-permission
        android:name="com.vivo.settings.provider.SettingsPublicProvider.write"/>
    <uses-permission
        android:name="com.vivo.settings.provider.SettingsPublicProvider.read"/>
    <uses-permission
        android:name="com.bbk.iqoo.logsystem.permission.READ_DATA"/>
    <uses-permission
        android:name="com.bbk.iqoo.logsystem.permission.WRITE_DATA"/>
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.LOG_COMPAT_CHANGE"/>
    <uses-permission
        android:name="android.permission.READ_COMPAT_CHANGE_CONFIG"/>
    <uses-permission
        android:name="android.permission.OVERRIDE_COMPAT_CHANGE_CONFIG"/>
    <uses-permission
        android:name="com.google.android.permission.INSTALL_WEARABLE_PACKAGES"/>
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission
        android:name="android.permission.MANAGE_ENHANCED_CONFIRMATION_STATES"/>
    <permission
        android:name="com.android.packageinstaller.permission.INSTALL_SWITCH"
        android:protectionLevel="0x00000003"/>
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC_INTERNAL"/>
    <uses-permission
        android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE"/>
    <uses-permission
        android:name="com.iqoo.secure.permission.DATA_USAGE_EXCESS_WARNING"/>
    <uses-permission
        android:name="com.vivo.basemanager.START_ACTIVITY"/>
    <uses-permission
        android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission
        android:name="android.permission.READ_INSTALLED_SESSION_PATHS"/>
    <uses-permission
        android:name="com.vivo.safecenter.permissions.secureprovider.read"/>
    <uses-permission
        android:name="com.vivo.safecenter.permissions.START_SAFE_CENTER_ACTIVITY"/>
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission
        android:name="com.vivo.xspace.permission.XSPACE_FUNC_HANDLE"/>
    <uses-permission
        android:name="com.vivo.xspace.permission.ENTER_VERIFY_PAGE"/>
    <uses-permission
        android:name="com.launcher.permission.SETTING_SIMPLE_MODE_FIRST"/>
    <uses-permission
        android:name="com.vivo.doubleinstance.permission.WHITELIST_QUERY_SERVICE"/>
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission
        android:name="com.bbk.account.permission.READ_ACCOUNTINFO"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.READ_SYSTEM_GRAMMATICAL_GENDER"/>
    <uses-permission
        android:name="android.permission.RESOLVE_COMPONENT_FOR_UID"/>
    <application
        android:theme="@030F0006"
        android:label="@7F100068"
        android:icon="@7F0800EA"
        android:name="com.android.packageinstaller.PackageInstallerApplication"
        android:excludeFromRecents="true"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="false"
        android:directBootAware="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data
            android:name="support_super_guard_navi"
            android:value="true"/>
        <meta-data
            android:name="support_super_guard_des"
            android:value="true"/>
        <meta-data
            android:name="vivo.dynamicBlurRelaunch"
            android:value="true"/>
        <meta-data
            android:name="support_vivo_foldable_rotate"
            android:value="true"/>
        <meta-data
            android:name="support.vivo.app.install_and_uninstall"
            android:value="1"/>
        <meta-data
            android:name="com.vivo.vcode.moduleId"
            android:value="@7F100167"/>
        <meta-data
            android:name="com.vivo.vcode.netConnect"
            android:value="@7F100169"/>
        <meta-data
            android:name="com.vivo.analytics.AppId"
            android:value="@7F100060"/>
        <meta-data
            android:name="vivo.install.compatibility.deviceType"
            android:value="phone|foldable|flip"/>
        <meta-data
            android:name="vivo.uninstall.compatibility.not_adbUninstall"
            android:value="1"/>
        <meta-data
            android:name="vivo.install.compatibility.android_version"
            android:value="29+"/>
        <meta-data
            android:name="com.vivo.familycare.local.app_manager_support"
            android:value="true"/>
        <meta-data
            android:name="com.vivo.setupwizard.agreement.content"
            android:resource="@7F10019C"/>
        <meta-data
            android:name="com.vivo.setupwizard.agreement.title"
            android:resource="@7F10019F"/>
        <meta-data
            android:name="com.vivo.setupwizard.permission.title.1"
            android:resource="@7F1001A0"/>
        <meta-data
            android:name="com.vivo.setupwizard.permission.content.1"
            android:resource="@7F10019D"/>
        <meta-data
            android:name="com.vivo.setupwizard.permission.title.2"
            android:resource="@7F1001A1"/>
        <meta-data
            android:name="com.vivo.setupwizard.permission.content.2"
            android:resource="@7F10019E"/>
        <meta-data
            android:name="com.android.packageinstaller.system_app_uninstall_support"
            android:value="true"/>
        <activity
            android:theme="@7F110250"
            android:name="com.android.packageinstaller.InstallStart"
            android:exported="true"
            android:excludeFromRecents="true"
            android:screenOrientation="1"
            android:configChanges="0x000004A0">
            <intent-filter
                android:label="package_install">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="packageinstaller"
                    android:host="com.android.packageinstaller"
                    android:pathPrefix="/InstallStart"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.intent.action.VIEW"/>
                <action
                    android:name="android.intent.action.INSTALL_PACKAGE"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="file"/>
                <data
                    android:scheme="content"/>
                <data
                    android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.intent.action.INSTALL_PACKAGE"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="file"/>
                <data
                    android:scheme="package"/>
                <data
                    android:scheme="content"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.content.pm.action.CONFIRM_INSTALL"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.content.pm.action.CONFIRM_PERMISSIONS"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="file"/>
                <data
                    android:scheme="content"/>
                <data
                    android:pathPattern=".*\.1"/>
                <data
                    android:mimeType="*/apk.1"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="vivo.settings.SECURITY_INFO_EXT_ACTION"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.content.pm.action.CONFIRM_PRE_APPROVAL"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="vivo.settings.order"
                android:value="2000"/>
            <meta-data
                android:name="vivo.settings.icon"
                android:resource="@7F080234"/>
            <meta-data
                android:name="vivo.settings.title"
                android:resource="@7F100104"/>
            <meta-data
                android:name="vivo.settings.summary"
                android:resource="@7F100103"/>
            <meta-data
                android:name="vivo.settings.number"
                android:resource="@7F100101"/>
            <meta-data
                android:name="vivo.settings.security.FEATURE_INFO_SUMMARY"
                android:resource="@7F100102"/>
            <meta-data
                android:name="vivo.settings.security.FEATURE_INFO_NUM_DESC"
                android:resource="@7F0E0001"/>
            <meta-data
                android:name="vivo.atom.capability.type"
                android:value="deeplink"/>
            <meta-data
                android:name="vivo.settings.bigicon"
                android:resource="@7F080235"/>
        </activity>
        <meta-data
            android:name="com.android.packageinstaller.HIGH_RISK"
            android:value="1"/>
        <meta-data
            android:name="com.android.packageinstaller.RECOMMEND_APPS"
            android:value="1"/>
        <activity
            android:theme="@7F110011"
            android:name="com.android.packageinstaller.vivo.activity.InstallSwitchActivity"
            android:permission="com.android.packageinstaller.permission.INSTALL_SWITCH"
            android:exported="true"
            android:screenOrientation="1"
            android:configChanges="0x000004A0">
            <intent-filter
                android:label="install_switch">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="packageinstaller"
                    android:host="com.android.packageinstaller"
                    android:pathPrefix="/InstallSwitchActivity"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <action
                    android:name="com.android.settings.action.EXTRA_SETTINGS"/>
                <category
                    android:name="vivo.intent.category.settings.SECURITY_SETTINGS"/>
            </intent-filter>
            <meta-data
                android:name="securitySettings.settings.order"
                android:value="35"/>
            <meta-data
                android:name="securitySettings.settings.title"
                android:resource="@7F1001A2"/>
        </activity>
        <activity
            android:name="com.android.packageinstaller.InstallStaging"
            android:exported="false"
            android:screenOrientation="1"/>
        <activity
            android:theme="@7F11017C"
            android:name="com.android.packageinstaller.DeleteStagedFileOnResult"
            android:exported="false"
            android:screenOrientation="1"/>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.PackageInstallerActivity"
            android:exported="false"
            android:screenOrientation="1"
            android:configChanges="0x000006B0">
            <intent-filter>
                <action
                    android:name="vivo.settings.SECURITY_INFO_EXT_ACTION"/>
            </intent-filter>
            <meta-data
                android:name="vivo.settings.order"
                android:value="3000"/>
            <meta-data
                android:name="vivo.settings.icon"
                android:resource="@7F080224"/>
            <meta-data
                android:name="vivo.settings.title"
                android:resource="@7F1000E8"/>
            <meta-data
                android:name="vivo.settings.summary"
                android:resource="@7F1000E7"/>
            <meta-data
                android:name="vivo.settings.number"
                android:resource="@7F1000E6"/>
            <meta-data
                android:name="vivo.settings.security.FEATURE_INFO_NUM_DESC"
                android:resource="@7F0E0000"/>
            <meta-data
                android:name="vivo.settings.bigicon"
                android:resource="@7F080225"/>
        </activity>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.PackageInterceptActivity"
            android:exported="false"
            android:screenOrientation="1"
            android:configChanges="0x000006B0">
            <intent-filter>
                <action
                    android:name="vivo.settings.SECURITY_INFO_EXT_ACTION"/>
            </intent-filter>
            <meta-data
                android:name="vivo.settings.order"
                android:value="3000"/>
            <meta-data
                android:name="vivo.settings.icon"
                android:resource="@7F080224"/>
            <meta-data
                android:name="vivo.settings.title"
                android:resource="@7F1000E8"/>
            <meta-data
                android:name="vivo.settings.summary"
                android:resource="@7F1000E7"/>
            <meta-data
                android:name="vivo.settings.number"
                android:resource="@7F1000E6"/>
            <meta-data
                android:name="vivo.settings.security.FEATURE_INFO_NUM_DESC"
                android:resource="@7F0E0000"/>
            <meta-data
                android:name="vivo.settings.bigicon"
                android:resource="@7F080225"/>
        </activity>
        <activity
            android:name="com.android.packageinstaller.InstallInstalling"
            android:exported="false"
            android:screenOrientation="1"/>
        <activity
            android:name="com.android.packageinstaller.NewInstallInstalling"
            android:exported="false"
            android:excludeFromRecents="false"
            android:screenOrientation="1"
            android:configChanges="0x00000DB0"/>
        <activity
            android:name="com.android.packageinstaller.InstallSuccess"
            android:exported="false"
            android:screenOrientation="1"/>
        <activity
            android:name="com.android.packageinstaller.InstallFailed"
            android:exported="false"
            android:screenOrientation="1"/>
        <activity
            android:theme="@7F110250"
            android:name="com.android.packageinstaller.UninstallerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:screenOrientation="1"
            android:configChanges="0x000004A0"
            android:noHistory="true">
            <intent-filter
                android:label="package_uninstall">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="packageinstaller"
                    android:host="com.android.packageinstaller"
                    android:pathPrefix="/UninstallerActivity"/>
            </intent-filter>
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.intent.action.DELETE"/>
                <action
                    android:name="android.intent.action.UNINSTALL_PACKAGE"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="package"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@7F110250"
            android:name="com.android.packageinstaller.UninstallUninstalling"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="1"/>
        <receiver
            android:name="com.android.packageinstaller.UninstallFinish"
            android:exported="false"/>
        <activity
            android:name="com.android.packageinstaller.television.UninstallAppProgress"
            android:exported="false"
            android:screenOrientation="1"
            android:configChanges="0x40003FFE"/>
        <activity
            android:theme="@7F110250"
            android:name="com.android.packageinstaller.vivo.activity.InstallDialog"
            android:exported="false"
            android:launchMode="3"
            android:configChanges="0x40003FFE">
            <layout
                android:minWidth="1900.0dip"/>
        </activity>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.vivo.activity.PermissionInfoActivity"
            android:exported="false"
            android:screenOrientation="1"/>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.vivo.activity.SuperGuardActivity"
            android:permission="com.android.packageinstaller.permission.INSTALL_SWITCH"
            android:exported="true"
            android:screenOrientation="1"
            android:windowSoftInputMode="0x00000010">
            <intent-filter
                android:label="super_guard">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="packageinstaller"
                    android:host="com.android.packageinstaller"
                    android:pathPrefix="/SuperGuardActivity"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.vivo.activity.SafeGuardAboutActivity"
            android:exported="false"
            android:process=":webview"
            android:screenOrientation="1"/>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.vivo.activity.SimpleWebActivity"
            android:permission="com.android.packageinstaller.permission.INSTALL_SWITCH"
            android:exported="true"
            android:process=":webview"
            android:screenOrientation="1">
            <intent-filter>
                <action
                    android:name="android.packageinstall.action.super_guard"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.vivo.activity.RiskAppealActivity"
            android:exported="false"
            android:process=":webview"
            android:screenOrientation="1"
            android:configChanges="0x40003FFE"
            android:windowSoftInputMode="0x00000010">
            <meta-data
                android:name="android.vivo_nightmode_relaunch"
                android:value="false"/>
        </activity>
        <activity
            android:theme="@7F110010"
            android:name="com.android.packageinstaller.vivo.activity.AuthTypeSettingActivity"
            android:exported="false"
            android:screenOrientation="1"
            android:configChanges="0x40003DFE"/>
        <service
            android:name="com.android.packageinstaller.vivo.service.VirusDealingService"/>
        <provider
            android:name="com.android.packageinstaller.vivo.search.PackageInstallerSearchIndexablesProvider"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="com.android.packageinstaller"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.android.settings.search.data_build_mode"
                android:value="1"/>
            <intent-filter>
                <action
                    android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
        <service
            android:label="@7F100068"
            android:name="com.android.packageinstaller.vivo.service.SwitchStateService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.vivo.easyshare.TRANSFER"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="com.vivo.easyshare.TRANSFER_ID_1127"/>
            </intent-filter>
            <meta-data
                android:name="easyshare_transfer_key"
                android:value="com.android.packageinstaller.vivo.service.BackupRestoreForSwitch"/>
            <meta-data
                android:name="easyshare_transfer_type"
                android:value="2"/>
            <meta-data
                android:name="easyshare_transfer_id"
                android:value="1127"/>
        </service>
        <receiver
            android:name="com.android.packageinstaller.vivo.receiver.SimpleModeReceiver"
            android:permission="com.launcher.permission.SETTING_SIMPLE_MODE_FIRST"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="vivo.intent.action.SETTING_SIMPLE_MODE_FIRST"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.android.packageinstaller.vivo.provider.SuperGuardProvider"
            android:permission="com.android.packageinstaller.permission.INSTALL_SWITCH"
            android:exported="true"
            android:authorities="com.android.packageinstaller.vivo.provider.SuperGuardProvider">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category
                    android:name="vivo.intent.category.settings.ELDER_CARE"/>
            </intent-filter>
            <meta-data
                android:name="vivo.settings.order"
                android:value="12000"/>
            <intent-filter>
                <action
                    android:name="vivo.intent.settings.SECURITY_DEVICE_USAGE_SETTINGS"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="vivo.security.device.usage.settings.order"
                android:value="12000"/>
            <meta-data
                android:name="vivo.settings.title"
                android:resource="@7F1001FA"/>
            <meta-data
                android:name="vivo.settings.summaryEx"
                android:resource="@7F100202"/>
            <meta-data
                android:name="vivo.settings.support_uri"
                android:value="content://com.android.packageinstaller.vivo.provider.SuperGuardProvider/isSupport"/>
            <meta-data
                android:name="com.android.settings.switch_uri"
                android:value="content://com.android.packageinstaller.vivo.provider.SuperGuardProvider"/>
        </provider>
        <meta-data
            android:name="server_url"
            android:value="https://vcardsdkservice.vivo.com.cn"/>
        <activity
            android:theme="@7F11017B"
            android:name="com.google.packageinstaller.androidq.PackageInstallerActivity"
            android:exported="false"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@7F11017D"
            android:name="com.google.packageinstaller.androidq.InstallInstalling"
            android:exported="false"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@7F11017C"
            android:name="com.google.packageinstaller.UninstallUninstalling"
            android:exported="false"
            android:excludeFromRecents="true"
            android:enableOnBackInvokedCallback="false"/>
        <receiver
            android:name="com.google.packageinstaller.TemporaryFileManager"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@7F11017B"
            android:name="com.google.packageinstaller.InstallStaging"
            android:exported="false"/>
        <activity
            android:theme="@7F11017C"
            android:name="com.google.packageinstaller.DeleteStagedFileOnResult"
            android:exported="false"/>
        <receiver
            android:name="com.google.packageinstaller.InstallEventReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="false">
            <intent-filter
                android:priority="1">
                <action
                    android:name="com.android.packageinstaller.ACTION_INSTALL_COMMIT"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@7F11017D"
            android:name="com.google.packageinstaller.androidq.InstallSuccess"
            android:exported="false"/>
        <activity
            android:theme="@7F11017D"
            android:name="com.google.packageinstaller.androidq.InstallFailed"
            android:exported="false"/>
        <activity
            android:theme="@7F1100B3"
            android:name="com.google.packageinstaller.androido.InstallSuccess"
            android:exported="false"/>
        <activity
            android:theme="@7F1100B3"
            android:name="com.google.packageinstaller.androido.InstallFailed"
            android:exported="false"/>
        <activity
            android:theme="@7F11017B"
            android:name="com.google.packageinstaller.androido.PackageInstallerActivity"
            android:exported="false"/>
        <activity
            android:theme="@7F1100B3"
            android:name="com.google.packageinstaller.androido.InstallInstalling"
            android:exported="false"/>
        <activity
            android:theme="@7F11017C"
            android:name="com.google.packageinstaller.UninstallerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="0x000004A0"
            android:noHistory="true"/>
        <receiver
            android:name="com.google.packageinstaller.UninstallEventReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="false">
            <intent-filter
                android:priority="1">
                <action
                    android:name="com.android.packageinstaller.ACTION_UNINSTALL_COMMIT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.packageinstaller.PackageInstalledReceiver"
            android:exported="false">
            <intent-filter
                android:priority="1">
                <action
                    android:name="android.intent.action.PACKAGE_ADDED"/>
                <data
                    android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.packageinstaller.UninstallFinish"
            android:exported="false"/>
        <activity
            android:name="com.google.packageinstaller.television.UninstallAppProgress"
            android:exported="false"
            android:configChanges="0x40003FFE"/>
        <service
            android:name="com.google.packageinstaller.wear.WearPackageInstallerService"
            android:permission="com.google.android.permission.INSTALL_WEARABLE_PACKAGES"
            android:exported="false"/>
        <provider
            android:name="com.google.packageinstaller.wear.WearPackageIconProvider"
            android:exported="false"
            android:authorities="com.google.android.packageinstaller.wear.provider"
            android:grantUriPermissions="true"/>
        <activity
            android:name="com.google.packageinstaller.UnarchiveActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:configChanges="0x000004A0"
            android:noHistory="true">
            <intent-filter
                android:priority="1">
                <action
                    android:name="com.android.intent.action.UNARCHIVE_DIALOG"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.packageinstaller.UnarchiveErrorActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:configChanges="0x000004A0"
            android:noHistory="true">
            <intent-filter
                android:priority="1">
                <action
                    android:name="com.android.intent.action.UNARCHIVE_ERROR_DIALOG"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="originui_support_aar_type_vdialog"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_sheet"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vtoolbar"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_button"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vscrollbar"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vlistitem"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vclickdrawable"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_progressbar"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vpageindicator"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vdividerline"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vedittext"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vcoordinatorbase"
            android:value="1"/>
        <meta-data
            android:name="originui_support_aar_type_vblank"
            android:value="1"/>
    </application>
</manifest>
